*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sidecontainer{
     width:30vw;
     background-color: rgb(41, 65, 183);
     height:100vh;
     display:flex; 
     justify-content: space-between;
}
/* .textcollection{
   background-color: yellow;
}
.imagecollection{
    background-color: yellow;
} */

